/**
 * @name bcts junk
 * @description theme with the stuff i would use in quickcss
 * @author a bunch of people
 * @version 1
*/

/*
    Most snippets are from the vencord discord server. search the title inside of #css-snippets and you will find the original author.
*/

/* 
    Main Theme
    Midnight catppuccin mocha flavor by refact0r
*/
@import url('https://refact0r.github.io/midnight-discord/themes/flavors/midnight-catppuccin-mocha.theme.css');

/* 
    Simplified Panels Area
    by dav154
*/
@import url(https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css);

/* 
    Stay off the banner, bubble!
    by augenbl1ck
*/
@import url("https://raw.githubusercontent.com/Augenbl1ck/Discord-Styles/refs/heads/main/customStatusBubble.css");

/* 
    Better Message Buttons
    by andrew6rant
*/
@import url("https://raw.githubusercontent.com/Andrew6rant/Discord-plugins-and-themes/refs/heads/main/BetterMessageButtonsAlternate.theme.css");

/*
  Change some variables :p
*/
body {
  /*
    Change dm button to miku swing
  */
  --dms-background-image-url: url("https://media.discordapp.net/attachments/1335778384784916561/1335781963197583462/AN4AscT.gif?ex=68784fe5&is=6876fe65&hm=4b1524f59fb044f581bb18e3bd4b86f57860c3187b43d3d7c50674fbeb306cfb&=&width=160&height=160");
}

/* 
    Shiggy Loading...
    by nspg911
*/
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}

/* 
    Auto-Hide Floating Sidebar
    by mar.ezxc

    Slightly modified to be bigger and slightly transparent when not hovered.
*/
nav[class*="guilds"]::-webkit-scrollbar {
  display: none !important;
}

nav[class*="guilds"] {
  --paddingY: 15px;
  position: absolute;
  z-index: 100;
  top: 50%;
  max-height: 80vh;
  overflow-y: auto;
  transform: translate(-75%, -50%) !important;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  border: 2.2px solid #242424;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 5px;
  height: 30vh;
  opacity: 40%;
}

nav[class*="guilds"] div {
  transform: scale(0);
}

nav[class*="guilds"]:hover {
  transform: translate(0%, -50%) !important;
  height: auto;
  opacity: 100%;
}

nav[class*="guilds"]:hover div {
  transform: scale(100%);

}
